In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path = "C:/Users/BLESS/Downloads/energydata_complete.csv"
df = pd.read_csv(path)

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6)

In [123]:
#df.drop(columns = ['Appliances'],axis = 1,inplace = True)

In [112]:
#question12
from sklearn.linear_model import LinearRegression
LinearObj  = LinearRegression()

In [113]:
X = df[["T2"]]
Y = df["T6"]
LinearObj.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [114]:
Yhat = LinearObj.predict(X)
Yhat[0:5]

array([5.37165597, 5.37165597, 5.37165597, 5.37165597, 5.37165597])

In [115]:
#12. this answer is correct
r2_value = LinearObj.score(X,Y)
round(r2_value,2)

0.64

In [116]:
from sklearn.metrics import r2_score
r2_score = r2_score(Y, Yhat)
round(r2_score, 2)

0.64

In [117]:
#Q13
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y,Yhat)
round(mae, 2)

2.84

In [118]:
#question 14
Residual_Sum_Squares = np.sum(np.square(Y - Yhat))
round(Residual_Sum_Squares, 2)

262122.67

In [119]:
#question 15
#finding Root Mean Squared Error
from sklearn.metrics import  mean_squared_error
Root_Mean_Squared_Error = np.sqrt(mean_squared_error(Y, Yhat))
round(Root_Mean_Squared_Error, 3)

3.644

In [120]:
#Q16
Coefficient_of_Determination=linear_model2.score(x_train,y_train)
round(Coefficient_of_Determination,2)

0.97

In [121]:
def get_weights_df(model, fit, col_name):
    
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, fit.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [122]:
linear_model_weights = get_weights_df(linear_model2, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0            T1            -0.200259
1          RH_6            -0.095752
2     Tdewpoint            -0.092771
3          RH_3            -0.076931
4            T5            -0.068688
5          RH_8            -0.044272
6            T7            -0.042958
7            T8            -0.038978
8          RH_1            -0.032903
9            T4            -0.023896
10  Press_mm_hg            -0.019606
11         RH_5            -0.003751
12    Windspeed            -0.001034
13   Visibility            -0.000892
14          rv1            -0.000224
15          rv2            -0.000224
16         RH_7             0.009865
17         RH_9             0.015003
18           T3             0.019442
19   Appliances             0.027594
20         RH_4             0.035136
21           T9             0.080841
22         RH_2             0.102678
23       RH_out             0.143846
24           T2             0.322437
25        T_out             1.003190

In [110]:
#Q17
print("highest weight {}".format(linear_model_weights.max()))
print("lowest weight {}".format(linear_model_weights.min()))

highest weight Features                   rv2
Linear_Model_Weight    1.00319
dtype: object
lowest weight Features               Appliances
Linear_Model_Weight     -0.200259
dtype: object

In [127]:
#question 18
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X,Y)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [131]:
pred_test_rr=ridge_reg.predict(X)
print(np.sqrt(mean_squared_error(Y,pred_test_rr)))

3.6444644874064824

In [129]:
Lasso_model_weights = get_weights_df(lasso_reg , x_train, 'Lasso_Model_Weight')
Lasso_model_weights

       Features  Lasso_Model_Weight
0          RH_6           -0.056267
1            T8           -0.000994
2    Appliances            0.000000
3    Visibility           -0.000000
4     Windspeed            0.000000
5        RH_out           -0.000000
6   Press_mm_hg           -0.000000
7          RH_9            0.000000
8            T9           -0.000000
9          RH_8            0.000000
10         RH_7            0.000000
11          rv1           -0.000000
12           T7           -0.000000
13           T5           -0.000000
14         RH_4            0.000000
15           T4           -0.000000
16         RH_3            0.000000
17           T3           -0.000000
18         RH_2           -0.000000
19         RH_1            0.000000
20           T1           -0.000000
21         RH_5           -0.000000
22          rv2           -0.000000
23    Tdewpoint            0.039489
24           T2            0.044727
25        T_out            0.842836

In [126]:
#20
pred_test_lasso= lasso_reg.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_lasso)))

0.03800417980543591

In [ ]:
# From question 13
# This is where the confusion start from.

In [4]:
# droping light and date columns
df.drop(columns = ['date','lights'],axis = 1,inplace = True)
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
# Dont know where the below is correct from or the above one.

In [83]:
#normalizing the dataset to a common scale using the minMax scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
#normalizing the features
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
predictor_columns = normalised_df.drop(columns=['T6'])
target_column = normalised_df['T6']

In [84]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(predictor_columns,target_column, test_size=0.3, random_state=42)

In [87]:
linear_model2 = LinearRegression()
#fit the model to the training dataset
linear_model2.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model2.predict(x_test)

In [88]:
#question 13
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.02

In [89]:
#question 14
Residual_Sum_Squares = np.sum(np.square(y_test - predicted_values))
round(Residual_Sum_Squares, 2)

5.67

In [90]:
#question 15
#finding Root Mean Squared Error
from sklearn.metrics import  mean_squared_error
Root_Mean_Squared_Error = np.sqrt(mean_squared_error(y_test, predicted_values))
round(Root_Mean_Squared_Error, 3)

0.031

In [91]:
#question16
Coefficient_of_Determination=linear_model2.score(x_train,y_train)

In [92]:
round(Coefficient_of_Determination,2)

0.97

In [93]:
def get_weights_df(model, fit, col_name):
    
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, fit.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [94]:
linear_model_weights = get_weights_df(linear_model2, x_train, 'Linear_Model_Weight')

In [95]:
linear_model_weights

       Features  Linear_Model_Weight
0            T1            -0.200259
1          RH_6            -0.095752
2     Tdewpoint            -0.092771
3          RH_3            -0.076931
4            T5            -0.068688
5          RH_8            -0.044272
6            T7            -0.042958
7            T8            -0.038978
8          RH_1            -0.032903
9            T4            -0.023896
10  Press_mm_hg            -0.019606
11         RH_5            -0.003751
12    Windspeed            -0.001034
13   Visibility            -0.000892
14          rv1            -0.000224
15          rv2            -0.000224
16         RH_7             0.009865
17         RH_9             0.015003
18           T3             0.019442
19   Appliances             0.027594
20         RH_4             0.035136
21           T9             0.080841
22         RH_2             0.102678
23       RH_out             0.143846
24           T2             0.322437
25        T_out             1.003190

In [96]:
print("highest weight {}".format(linear_model_weights.max()))
print("lowest weight {}".format(linear_model_weights.min()))

highest weight Features                   rv2
Linear_Model_Weight    1.00319
dtype: object
lowest weight Features               Appliances
Linear_Model_Weight     -0.200259
dtype: object

In [97]:
#question 18
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [98]:
pred_test_rr=ridge_reg.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_rr)))

0.031013033457500075

In [99]:
#question19
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [100]:
Lasso_model_weights = get_weights_df(lasso_reg , x_train, 'Lasso_Model_Weight')

In [101]:
Lasso_model_weights

       Features  Lasso_Model_Weight
0          RH_6           -0.056267
1            T8           -0.000994
2    Appliances            0.000000
3    Visibility           -0.000000
4     Windspeed            0.000000
5        RH_out           -0.000000
6   Press_mm_hg           -0.000000
7          RH_9            0.000000
8            T9           -0.000000
9          RH_8            0.000000
10         RH_7            0.000000
11          rv1           -0.000000
12           T7           -0.000000
13           T5           -0.000000
14         RH_4            0.000000
15           T4           -0.000000
16         RH_3            0.000000
17           T3           -0.000000
18         RH_2           -0.000000
19         RH_1            0.000000
20           T1           -0.000000
21         RH_5           -0.000000
22          rv2           -0.000000
23    Tdewpoint            0.039489
24           T2            0.044727
25        T_out            0.842836

In [102]:
Lasso_model_weights.min()

Features              Appliances
Lasso_Model_Weight    -0.0562673
dtype: object

In [103]:
pred_test_lasso= lasso_reg.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_lasso)))

0.03800417980543591